h4.title{
  margin-bottom:5px;
}

.titled{
  margin-top:0px;
}
.h{
  display:none;
}
body{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav.navbar.shrink {
	min-height: 50px;
	transition: all 0.2s ease;
}
nav.navbar{
   box-shadow: 2px 2px 2px rgba(0,0,0,.25);
   background-color: #ffffff;
   border: none;
   min-height: 90px;
}
nav .navbar-header{
	background: url(img/ccl-logo-sprite.png) no-repeat;	
	height:90px;	
}
@media (min-width: 768px) {
	nav .navbar-header{
		width:347px;
	}
}

nav.shrink .navbar-header{
	height:50px;
	background-position: 0px -90px;
}

@media (min-width: 768px) and (max-width: 991px) {
	nav .navbar-header{
		width:191px;
		background-position: 0px -140px;
	}
	nav.shrink .navbar-header{
		background-position: 0px -140px;
	}
}

@media (max-width: 410px) {
	nav .navbar-header{
		background-position: 0px -140px;
	}
	nav.shrink .navbar-header{
		background-position: 0px -140px;
	}
}

.linkable{
	padding-top: 50px;
	padding-bottom:15px;
}
.linkable h2{
	margin-top:4px;
}

.people{
	margin-top:90px;
	background: url(img/citizens-climate-lobby-people.jpg) no-repeat center center;
	background-size: cover;
	padding:70px;
}

.join {
	margin: 0 auto;
    background-color: rgba(0, 152, 218, 0.93);
    padding: 5px 15px 25px 15px;
    border-radius: 4px;
    text-align: center;
    color: white;
    max-width: 350px;
}
.join h3{
	font-size: 1.3em;
	color: #ffffff;
	padding-bottom:5px;
	line-height:1.6em;
}

a.main-button, .navbar-default .navbar-nav>li>a.main-button{
	background-color: #F6290C;
	color: #ffffff;
	line-height: 1.4em;
	font-weight: bold;
	padding: 12px 15px;
	transition: all 0.1s ease-in-out;
	box-shadow: 2px 2px 2px rgba(0,0,0,.25);
}
a.main-button:hover, .navbar-default .navbar-nav>li>a.main-button:hover{
	background-color: #cc0033
}

#oplata-i-dywidenda-weglowa{
	background-color: #e8e8e8;
}

#wydarzenia{
	background-color: #0098da;
	color:white;
}
#wydarzenia a{
	color:#ffffff;	
}
#wydarzenia a:hover{
	color:#a4dcf4;
	text-decoration:none;
}
#wydarzenia ul{
	list-style-type: none;
}
#wydarzenia li{
	font-size:2em;
	clear: both;
}
#wydarzenia .fa{
	font-size:6em;
	float: left;
	padding-right:20px;
}
#wydarzenia li div{
	padding-top: 40px;
}

#dolacz{
	background-color: #e4e4e4
}

#dolacz  ul{
	list-style-type: none;
}
#dolacz  li{
	clear: both;
	padding-top:5px;
	padding-bottom:10px;
}
#dolacz .fa{
	font-size:1.5em;
	float: left;
	padding-right:15px;
	padding-top:5px;
}
#dolacz li div{
	xxpadding-top: 40px;
}

#kontakt{
	background-color: black;
	color:white;
	font-size:1.15em;
}
#kontakt h4{
	padding-top:10px;
}
#kontakt h4:not(:first-child) {
	padding-top:30px;
}

#kontakt .social-icons{
	list-style: none;
	padding-left:0px;
}
#kontakt .social-icons li{
	display: inline-block;
	font-size: 3em;
	padding-right:20px;
}
#kontakt a{
	color:#ffffff;	
}
#kontakt a:hover{
	color:#d9d9d9;
}
#kontakt a.kontakt{
	transition: all 0.3s ease;
}
#kontakt a.blink{
	color:#40d8f4;
}

.footer{
	border-top:1px solid #383838;
	background-color: black;
}
.footer .navbar-header{
	color:#777777;
	padding-top:15px;
}
.footer .navbar-nav>li>a{
	color:white;
}
.footer .navbar-nav>li>a:hover{
	background-color: #444444;
}